/* COLOR Pallete */
:root {
	--text-color: #707070;
	--primarty-color: #fdb03d;
	--secondary-color: #292560;
}
/* Global Styles */
body {
	font-family: "Poppins", sans-serif;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

/* Helper Classes */

.left {
	float: left;
}
.right {
	float: right;
}
.clear::after {
	content: "";
	clear: both;
	display: table;
}
.w-100 {
	width: 100%;
}
.row {
	display: flex;
}
.grid {
	display: grid;
}
.justify-center {
	justify-content: center;
}
.align-center {
	align-items: center;
}
.justify-around {
	justify-content: space-around;
}
.justify-between {
	justify-content: space-between;
}

/*Generic Page Level Settings */

/* Header */
#header {
	padding: 20px 0;
}

#header h1 a {
	font-size: 1.5rem;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
#header h1 a span {
	color: var(--primarty-color);
	font-size: 1.8rem;
	font-weight: 600;
}
#header form {
	display: flex;
	flex-grow: 1;
}

#header .search input {
	background-color: #ffffff;
	border-color: #eeeeee;
	border-radius: 4px 0px 0px 4px;
	border-style: solid;
	border-width: 1px;
	color: #707070;
	width: 30vw;
	font-size: 14px;
	line-height: 21px;
	padding: 14px;
}
#header .search input:focus {
	outline: none;
}
#header .search button {
	background: var(--primarty-color);
	border: none;
	padding: 10px 20px;
	margin: 0;

	font-size: 1.2rem;
	font-weight: 300;
	color: var(--text-color);
	border-radius: 0 5px 5px 0;
	border: 1px solid var(--primarty-color);
}
#header .user-links a {
	margin: 0 10px;
}
.search button i {
	color: white;
}

/* Container */
#container {
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

/* Navbar */
#navbar {
	background-color: var(--secondary-color);
	padding: 15px 0;
}

#navbar .categories select {
	padding: 15px;
	background-color: var(--secondary-color);
	color: white;
}
#navbar .categories select:focus {
	outline: none;
}
#navbar .categories option {
	padding: 15px;
	background-color: #fff;
	color: black;
}

#navbar a {
	color: white;
	padding: 0 15px;
	text-transform: uppercase;
	font-size: 15px;
}
#navbar a:hover {
	color: var(--primarty-color);
}
/* Banner */
#banner {
}

/* TopBar */
#topbar {
	padding: 15px 0;
	border-bottom: 1px solid #e0e0e0;
}
#topbar a i {
	color: var(--text-color);
}
#topbar span {
	font-weight: 300;
	font-size: 14px;
	color: var(--text-color);
}

#topbar .col-2 span {
	font-weight: normal;
}
#topbar .col-2 a {
	padding: 0 5px;
}
/* Sidebar */
#sidebar {
}

/* Main Navigation */
#main-nav {
}

/* Footer */
#footer {
}

/* Specific CSS */

/* Page_1 */
